a.button {
    color: #FFF;
    background: #516E9E;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5D7DB1), to(#445C89));
    background-image: -moz-linear-gradient(top, #5D7DB1, #445C89);
    background-image: -ms-linear-gradient(top, #5D7DB1, #445C89);
    background-image: -o-linear-gradient(top, #5D7DB1, #445C89);
    background-image: linear-gradient(top, #5D7DB1, #445C89);
    border: 1px solid #CFD1D3;
    border-radius: 3px;
    background-clip: padding-box;
    padding: 0.26em 0.7em;
    text-decoration: none;
}

a.defaultbutton {
    color: #FFF;
    background: #D68916;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E99A21), to(#C97D10));
    background-image: -moz-linear-gradient(top, #E99A21, #C97D10);
    background-image: -ms-linear-gradient(top, #E99A21, #C97D10);
    background-image: -o-linear-gradient(top, #E99A21, #C97D10);
    background-image: linear-gradient(top, #E99A21, #C97D10);
    border: 1px solid #CFD1D3;
    border-radius: 3px;
    background-clip: padding-box;
    padding: 0.26em 0.7em;
    text-decoration: none;
}

ul.editorial_states li {
    list-style: none;
}

ul.editorial_states li form {
    display: inline-block;
}

ul.editorial_states li.current {
    font-weight: bold;
}

ul.editorial_states li form.next-actions {
    display: inline;
    padding-left: 10px;
}

ul.editorial_states li form.next-actions .defaultbutton {
    font-weight: normal;
}
h1 .next-actions {
    display: inline;
    padding: 0 5px;
    font-size: 0.7em;
}
h1 .current_state {
    font-style: italic;
    color: #888;
}

table.message_list {
	max-width: 800px;
}
table.message_list tr td {
	padding: 8px;
}
table.message_list tr td.version {
	width: 45px;
}
table.message_list tr td.date {
	max-width: 125px;
}
table.message_list tr.type_objectstate_update td.action:before {
	content: "»";
}
.editorial-dashboard-page h2, .editorial-dashboard-page h3 {
    color: #094564;
}

.editorial-dashboard-page td {
    padding: 6px;
}

.editorial-dashboard-page .content_actions_col {
    width: 120px;
}
.editorial-dashboard-page .content_actions_head, .editorial-dashboard-page .content_actions_col {
    text-align: center;
}
.editorial-dashboard-page .owner_col {
    width: 200px;
}
.editorial-dashboard-page .modified_col {
    width: 200px;
}
.editorial-dashboard-page .modified_head, .editorial-dashboard-page .modified_col {
    text-align: center;
}
.editorial-dashboard-page .editorial_actions_col {
    width: 200px;
}
.editorial-dashboard-page .editorial_actions_head, .editorial-dashboard-page .editorial_actions_col {
    text-align: center;
}
.editorial-dashboard-page-filter ul {
    list-style-type: none;
}
.editorial-dashboard-page-filter li {
    border-radius: 3px;
    background-clip: padding-box;
    padding: 0 0.5em;
    padding-left: 20px;
    margin: 4px 0;
    color: #0B4E7A;
    cursor: pointer;
}
.editorial-dashboard-page-filter .enabled {
    background: url('../images/checkbox_checked.png') no-repeat;
}

.editorial-dashboard-page-filter .disabled {
    font-style: italic;
    background: url('../images/checkbox.png') no-repeat;
}

